@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'NBArchitekt';
    src: url('/public/fonts/NBArchitektStdNeue-Regular.otf') format('opentype');
}

body {
    font-family: 'NBArchitekt', sans-serif;
  } */