@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NBArchitekt;
  font-weight: 400;

  src: url('/fonts/NBArchitektStdNeue-Regular.otf') format('opentype');
}

* {
  font-family: 'NBArchitekt', sans-serif;
}
